{% block footer %}
{% load static %}
<footer id="footer">

	<div class="footer">
		<div class="inner-footer">

			<div class="footer-items">
				<h1>A-trucks</h1>
				<p>
					Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
					tempor incididunt ut labore et dolore magna aliqua.
				</p>
			</div>

			<div class="footer-items">
				<h2>Quick Links</h2>
				<div class="border"></div>
				<ul>
					<a href="/"><li>Home</li></a>
					<a href="/A_blog"><li>blog</li></a>
					<a href="/A_business"><li>A-business</li></a>
					<a href="/A_driver"><li>A-driver</li></a>
					<a href=""><li>Contact Us</li></a>
				</ul>
			</div>

			<div class="footer-items">
				<h2>Offices</h2>
				<div class="border"></div>
				<ul>
					<a href=""><li>Ranchi</li></a>
					<a href=""><li>Jamshedpur</li></a>
					<a href=""><li>Dhanbad</li></a>
					<a href=""><li>Bokaro</li></a>
					<a href=""><li>Chatra</li></a>
				</ul>
			</div>

			<div class="footer-items">
				<h2>Contact Us</h2>
				<div class="border"></div>
				<ul>
					<li><i class="fa fa-map-marker" aria-hidden="true"></i>Near Rospa Tawer Main-Road Ranchi</li>
					<li><i class="fa fa-phone" aria-hidden="true"></i>1234567890</li>
					<li><i class="fa fa-envelope" aria-hidden="true"></i>atrucks@support.com</li>
				</ul>
				<div class="social-media">
					<a href=""><i class="fa fa-facebook" aria-hidden="true"></i></a>
					<a href=""><i class="fa fa-twitter" aria-hidden="true"></i></a>
					<a href=""><i class="fa fa-instagram" aria-hidden="true"></i></a>
					<a href=""><i class="fa fa-google-plus" aria-hidden="true"></i></a>
				</div>
			</div>
			
		</div>
		<div class="footer-bottom">
			Copyright &copy; A-trucks 2022. All rights reserved.
		</div>
	</div>
</footer>
{% endblock footer %}